<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
<title>Comments</title>
<link href="./comments.component.css" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="180x180" href="../../../../FaviconCat/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../../../FaviconCat/favicon-16x16.png">
<link rel="manifest" href="../../../../FaviconCat/site.webmanifest">
</head>
<body>

<h2>Browse Comments</h2>
<button (click)="showComments()">View Reviews</button>
<div *ngIf="seeComments; then commentBlock;"></div>
<ng-template #commentBlock>
  <ul class="comments">
    <li *ngFor = "let comment of comments">
      <span class = "tile">{{comment.Comment_ID}}</span> {{comment.Review}}, {{comment.Rating}} stars, {{comment.RatPost_Date_Timeing}}
    </li>
  </ul>
  <form>
    <div id = "review">
      Leave a Review: <br><textarea  id="review" #review rows="4" cols="50" placeholder=""></textarea>
    </div>
    <div>
      Leave a Rating:
      <input id = "rating" type="range" name="rating" min="0" max="5" #rating>
    </div>
    <div>
      <button (click) = "submitComment(review.value +':'+ rating.value)">Submit</button>
    </div>
  </form>
</ng-template>
</body>
</html>
