<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
<title>Owner Login</title>
<link href="./owner-login.component.css" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="180x180" href="../../../../FaviconCat/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../../../FaviconCat/favicon-16x16.png">
<link rel="manifest" href="../../../../FaviconCat/site.webmanifest">
</head>
<body>
 
<form>
    <div>
      <input type = "text" #username>
    </div>
    <div>
      <input type="password" #password>
    </div>
    <div>
      <a routerLink = "units">
        <button (click) = "verify(username.value, password.value)">Log In</button>
      </a>
    </div>
    <div *ngIf="verified; then newPageBlock; else elseBlock"></div>
    <ng-template #newPageBlock>   
      <a routerLink = "/owner-units/{{user_id}}">
        Show Units!
       </a>
    </ng-template>
    <ng-template #elseBlock>
      <div *ngIf="verified == false; then incorrectPasswordBlock;"></div>  
      <ng-template #incorrectPasswordBlock>
        <p>Password Incorrect Try Again</p>
      </ng-template>
    </ng-template>
  </form>
   
</body>

  </html>