<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
<title>New User</title>
<link href="./new-user.component.css" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="180x180" href="../../../../FaviconCat/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../../../FaviconCat/favicon-16x16.png">
<link rel="manifest" href="../../../../FaviconCat/site.webmanifest">
</head>
<body>
  <div>
    <form action="/action_page.php" method="post">
        <table>
            <tr>
                <td><label for="Fname">First Name:</label></td>
                <td><input id="Fname" type="text" #Fname required /></td>
            </tr>
            <tr>
                <td><label for="Lname">Last Name:</label></td>
                <td><input id="Lname" type="text" #Lname required /></td>
            </tr>
            <tr>
                <td><label for="Email">Email:</label></td>
                <td><input id="Email" type="email" placeholder="user@example.com" #Email required /></td>
            </tr>
            <tr>
                <td><label for="psw">Select a password:</label></td>
                <td><input type="password" id="psw" #psw required /></td>
            </tr>
            <tr>
                <td><label for="psw-repeat">Repeat Password:</label></td>
                <td><input type="password" name="psw-repeat" required /></td>
            </tr>
        </table>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        <div class="clearfix">
       
          <button  (click)="postData(Email.value+':'+psw.value+':'+Fname.value+':'+Lname.value)">Sign up</button>
  
        </div>
    </form>
</div>

</body>
</html>
